body{
	width: 920px;
	margin: 0 auto;
	letter-spacing: 1px;
}

/** header */

.header{
	margin: 20px 0;
	padding-bottom: 5px;
	height: 62px;
}

.header:after{
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	content: "";
}

.header h1{
	font-size: 18pt;
	margin: 0;
	padding: 0;
	letter-spacing: 5px;
	float: left;
}

.header h1 a{
	color: #ebebeb;
	text-decoration: none;
}

.header blockquote{
	float: left;
	border: none;
	font-style: italic;
	font-size: 10pt;	
	padding: 4px 0 0 4px;
}

.header blockquote span{
	margin-left: 10px;
}

.header .links{
	float: left;
	height: 36px;
	list-style: none;
	margin-top: 2px;
}

.header .links li{
	list-style: none;
	float: left;
	margin-right: 30px;
	font-size: 12pt;
}

.header .links li i{
	color: #df691a;
}

.header .links li a{
	color: #ebebeb;
}

.header .auth{
	float: right;
	margin-top: 2px;
}

.header .auth .login{
	border-right: 1px solid #ebebeb;
	padding-right: 10px;
	margin-right: 5px;
}

.header .loggedas{
	float: right;
	max-width: 230px;
	height: 50px;
	margin-top: -10px;
	text-align: center;
	overflow: hidden;
}

.header .loggedas .links{
    text-align: center;
    max-width: 230px;
}

.header .loggedas a{
	font-size: 9pt;	
	color: #ebebeb;
}

.header .loggedas a i{
	color: #df691a;
}

.header .loggedas .badge{
	background: #5e7081;
}

.header .loggedas .links a{
	margin: 0 5px;
}

.wrapper.login{
	width: 400px;
	margin: 0 auto;
}

.wrapper.login .header{
	text-align: center;
	margin-top: 80px;	
}
.wrapper.login .header h1{
	float: none;
}

.wrapper.login .content,
.wrapper.login .main{
	padding-top: 0;
}

.wrapper.login .main h3 a{
	font-size: 11pt;
}

/** content */

h2.heading,
h3.heading{
	border-bottom: 1px solid #6a7d90;
	padding-bottom: 10px;
}

.main .jobslist a.job{
	display: block;
	margin:0;
	height: 64px;	
	padding: 15px 0;
	border-top: 1px solid #6a7d90;
	color: #ebebeb;
	cursor: pointer;
}

.main .jobslist a.job.featured{
	background: #5e7081;
}

.main .jobslist a.job:last-child{
	border-bottom: 1px solid #6a7d90;
}

.main .jobslist a.job:hover{
	background: #6a7d90;
}

.main .jobslist.companies a.job:hover{
	background: none;
}

.main .jobslist a.job .favorite{
	display: none;
	float: left;
	margin-left: -20px;
	margin-top: 5px;
	width: 20px;	
}

.main .jobslist a.job:hover .favorite{
	display: block;
}

.main .jobslist a.job .favorite.active{
	display: block;
}

.main .jobslist a.job .icon{
	float: left;
	margin-left: 2px;
	padding-top: 0;
    width: 35px;
}

.main .jobslist a.job .icon img{
	max-width: 35px;
	max-height: 35px;
}

.main .jobslist a.job .title{
	float: left;
	margin-left: 10px;
	width: 340px;
}

.main .jobslist a.job .title h3{
	font-size: 10pt;
	font-weight: bold;
	margin: 0;	
}

.main .jobslist a.job .title h4{
	font-size: 8pt;
	margin: 0;
}

.main .jobslist a.job .title h3,
.main .jobslist a.job .title h4{
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.main .jobslist a.job .type{
	float: left;
	margin-left: 20px;
	width: 80px;
	padding-top: 6px;
	font-size: 8pt;
}

.main .jobslist a.job .location{
	float: left;
	width: 135px;
	padding-top: 6px;
	font-size: 8pt;
}

.main .jobslist a.job + .edit{
    padding: 0;
    background: none;
    width: 100%;
    z-index: 10;
    border: none;
    margin-top: -1px;
    margin-left: 478px;
}

.main .jobslist .edit a{
    border: none;
    padding: 1px 3px;
    margin: 0;
    font-size: 8pt;
}

.main .jobslist.companies a.job .title{
	width: 440px;
}

.main .jobslist.companies a.job .title h3{
	margin-top: 10px;
	font-weight: normal;
	font-size: 14pt;
}

.main .jobslist.companies a.job:hover .title{
	text-decoration: underline;
}

.main .jobslist.companies a.job .count{
	float: right;
	width: 100px;
	font-size: 10pt;
	text-align: center;
	margin-top: -5px;
}

.main .jobslist.companies a.job .count b{
	display: block;
	font-size: 14pt;
}

.main .jobslist.companies a.job .count span{
	display: block;	
}

.main a.showmore{
	display: block;
	margin: 20px auto;
	padding: 10px 0;
	text-align: center;	
	text-decoration: none;
	font-weight: bold;
}

.main a.showmore span{
	border-bottom: 1px dashed;	
}


.main a.showmore:hover{
	background: #6a7d90;
}


.sidebar .companies {
	margin: 20px 0;
}

.sidebar .companies a.company{
	display: block;
	margin: 10px auto;
	height: 80px;
	width: 180px;
	position: relative;
	border: 1px solid #6a7d90;
	padding: 10px;
}

.sidebar .companies a.company .badge{
	position: absolute;
	left: 0;
	top: 50%;
	font-size: 8pt;
	margin-left: -13px;
	margin-top: -5px;
	width: 26px;
	height: 16px;
	padding: 2px 0;
	text-align: center;
	background: #df691a;
}

.sidebar .companies a.company img{
	width: 160px;
	height: 60px;
}

.sidebar .allcompanies{
	font-size: 10pt;
}


.sidebar .infoblock{
	font-size: 10pt;
}

.sidebar .infoblock h2{
	font-size: 12pt;
}

.sidebar .infoblock h3.addr{
	font-size: 12pt;
	border-bottom: 1px solid #6a7d90;
	padding-bottom: 4px;
}

.sidebar .infoblock .description{
	line-height: 1.8;
}

.company_show {
	border-top: 1px solid #6a7d90;
	margin-top: 40px;
}

.company_show dl {
	position: relative;
	border-bottom: 1px solid #6a7d90;
	font-size: 14px;
	padding: 20px;
}

.company_show dl dt {
	width: 160px;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: 20px;
}

.company_show dl dd {
	margin-left: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.nav a .badge{
	background: #6a7d90;
}

.vacancy h2{
	font-size: 16pt;
	float: left;
}

.vacancy .published{
	float: right;
	font-size: 10pt;
	padding-top: 26px;
}

.vacancy hr{
	clear: both;
	border-bottom: 1px solid #6a7d90;
	height: 1px;
}

.vacancy .meta{
	font-size: 10pt;
	margin-bottom: 20px;
}

.vacancy .meta .location{
	margin-left: 20px;
}

.vacancy .block{
	margin: 20px 0;
	font-size: 10pt;
}

.vacancy .block h4{
	font-size: 10pt;
	font-weight: bold;
}

.share{
	margin-top: 20px;
	padding: 10px 0;
	border-top: 1px solid #6a7d90;
}

.replyform{
	display: none;
	background-color: #5e7081;
}

.replyform .form-group{
	margin: 10px 0;	
}

.replyform .form-group:after{
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	content: "";
}


.company_edit h2{
	font-size: 16pt;
	border-bottom: 1px solid #6a7d90;
	padding-bottom: 10px;
}

.company_edit label{
	padding-left: 0;
}

.company_edit .fileinput{
	height: auto;
	clear: both;
}

.company_edit .block{
	padding: 10px;
	border: 1px solid #6a7d90;
	margin-bottom: 20px;
}

/*
.company_edit .block:hover{
	background: #6a7d90;
}
*/

.company_edit .notice{
	line-height: 1.9;
	font-size: 10pt;
}

.vacancy_location .chosen-choices,
.vacancy_location .chosen-container{	
	width: 100%;
}

/*
.vacancy_skills .chosen-choices,
.vacancy_skills .chosen-container,
.vacancy_skills .search-choice,
.vacancy_skills .search-field,
.vacancy_skills .search-field input{
	height: 37px;	
	line-height: 1.42857143;
}
*/

.vacancy_skills .chosen-container-multi .chosen-choices li.search-choice{
	background: #d9534f;
	color: #ffffff;
}

b.required{
	margin-left: 3px;
	color: #d9534f;
}

.chosen-results{
	color: #333;
}

.searchform{
	margin-bottom: 20px;
}

.searchform form{
	padding: 20px 10px;
	margin: 0;
	background: #df691a;
}

.searchform .keyword,
.searchform .location{
	position: relative;
}

.searchform .keyword .categories_trigger{
	position: absolute;
	color: #666;
	font-size: 20pt;
	right: 0;
	top: 0;
	margin-right: 18px;
	margin-top: 8px;
	cursor: pointer;
}

.searchform .filter-categories {
	display: none;
	position: absolute;
	width: 250px;
	border: 3px solid #6a7d90;
	left: 0;
	margin-left: 147px;
	color: #ebebeb;	
	margin-top: 12px;
    z-index: 10;
	-webkit-box-shadow: 1px 0px 15px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 0px 15px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 0px 15px 0px rgba(50, 50, 50, 0.75);
}

.searchform .filter-categories .arrow-up{
	display: block;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;	
	border-bottom: 20px solid #6a7d90;
	margin: -20px auto 0 auto;
}

.searchform .filter-categories label{
	width: 244px;
	height: 60px;
	margin: 0;
	padding: 5px;
	background: #4e5d6c;
	cursor: pointer;	
}

.searchform .filter-categories label:hover{
	background: #6a7d90;
}

.searchform .filter-categories label .check {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	width: 2em;
	height: 2em;
	padding-right: 0.4em;
	margin-left: -5px;
	text-align: right;
}

.searchform .filter-categories label .title {
	font-weight: bold;
	font-size: 11pt;
	margin-top: -24px;
	margin-left: 25px;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.searchform .filter-categories label .description {
	font-size: 9pt;
	margin-left: 25px;
	overflow: hidden;
	text-overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
}

.searchform .categories_trigger.hl{
    color: #d9534f;
}

.companies-filter .form-group{
	position: relative;
}

.companies-filter .form-group i{
	position: absolute;
	right: 0;
	top: 0;
	color: #999999;
	font-size: 14pt;
	margin-top: 10px;
	margin-right: 5px;
}

#filter_kw{
	padding-right: 33px;
}

/** footer */

.footer{
	font-size: 10pt;
	margin: 0 0 20px 0;
}

.footer .links{
	float: left;
}

.footer .links a{
	margin-right: 10px;
}

.footer .copyright{
	float: right;
}


.copyleft{
	display: inline-block;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.pagination .disabled{
    display: none;
}

.content .pagination .current,
.content .pagination .active,
.content .pagination .current *,
.content .pagination .active *,
.content .pagination .current *:hover,
.content .pagination .active *:hover{
	background: #d9534f;
	color: #ffffff;
}


.has-error .form-control{
	border-color: #d9534f;
}

#logo_preview .minibtn{
    padding: 3px;
    width: auto;
    height: auto;
}